In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../notebooks/final.csv')

In [3]:
df.head()

,Unnamed: 0,movieId,imdbId,tmdbId,title,genres,userId,rating,timestamp,tag
0,0,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703,NaN
1,1,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962,NaN
2,2,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5,1106635946,NaN
3,3,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.5,1510577970,NaN
4,4,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.5,1305696483,NaN

In [4]:
df.shape

(104519, 10)

In [5]:
df1 = df.groupby('movieId')['rating'].mean().reset_index(name='avg_rating')

In [6]:
df1.head()

   movieId  avg_rating
0        1    3.920930
1        2    3.431818
2        3    3.259615
3        4    2.357143
4        5    3.071429

In [7]:
df1.shape

(9742, 2)

In [8]:
rslt_df = df1.loc[df1['avg_rating'] >= 4.0]

In [9]:
rslt_df.shape

(2270, 2)

In [10]:
import dash
import dash_core_components as dcc
import dash_html_components as html

In [11]:
app = dash.Dash()

In [12]:
app.layout = html.Div([
   
    dcc.Dropdown(
        id = 'genres-dropdown',
        options = [
            {'label' : i, 'value': i}  for i in df.genres.unique()
        ]
    ),
    html.Div(
        id='output-container'
    )
])

@app.callback(
    dash.dependencies.Output('output-container', 'children'),
    [dash.dependencies.Input('genres-dropdown', 'value')])
def update_output(value):
    return df.genres
    return 'You have selected "{}"'.format(value)

In [13]:
if __name__ == '__main__':
    app.run_server()

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)